/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  background-image: url("assets/image.jpg");
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fixed background */
  font-family: "Inter", sans-serif;
  /* Additional styles as needed */
}
.router_link {
  width: 100px;
  margin-left: 10px;
}
.el-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.item-row {
  border: 1px solid #ccc;
}
.el-button + .el-button,
.el-checkbox.is-bordered + .el-checkbox.is-bordered {
  margin-left: 0px;
}
.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 7px 7px;
  font-size: 14px;
  border-radius: 4px;
}
.el-button.is-circle {
  margin-right: 6px;
  padding: 8px;
  border-radius: 100%;
  margin-bottom: 5px;
}
.el-button--success:focus,
.el-button--success:hover {
  background: green;
  border-color: #85ce61;
  color: #fff;
}
.el-button--danger:hover {
  color: #fff;
  background-color: red;
  border-color: #f56c6c;
}
.nav-buttons {
  display: flex !important;
  width: 360px !important;
  margin-bottom: 25px !important;
  margin-left: -10px !important;
}
.el-button--success.is-plain {
  color: #67c23a;
  background: #f0f9eb;
  border-color: black;
  border: 2px solid;
  margin-bottom: 20px !important;
}
.el-button--info.is-plain {
  border: 2px solid;
  width: 100% !important;
  margin-bottom: 10px !important;
}
.el-button--warning.is-plain {
  border: 2px solid;
  width: 100% !important;
  margin-bottom: 10px !important;
}
.el-button--primary.is-plain {
  border: 2px solid;
  margin-bottom: 10px !important;
}
.el-button--primary:focus,
.el-button--primary:hover {
  background: blue;
  border-color: #66b1ff;
  color: #fff;
}
.el-button--danger.is-plain {
  border: 2px solid;
}
.el-button--small {
  padding: 3px 11px;
  font-size: 12px;
  border-radius: 16px;
}
.el-button-footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 13px;
}
.el-card {
  border-radius: 10px !important;
  border: 0px solid darkcyan;
  background-color: darkcyan !important;
  overflow: hidden;
  color: #303133;
  transition: 0.3s;
  margin-bottom: 30px;
}
.el-card__body {
  padding: 10px !important;
}
.suggestion-card {
  width: calc(33.33% - 20px);
  margin: 10px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: none;
  margin-top: 24px !important;
}
.joke-card {
  font-size: x-large;
  color: white;
  font-weight: bolder;
}
.el-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  min-width: 0;
  height: inherit;
}
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
}
.add-item-container {
  width: 100%;
  margin: 0 auto;
  padding: 9px;
  display: flex;
  margin-left: -27px;
}
.suggestions-container {
  margin-top: 20px;
}
.logo-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: none;
  justify-content: flex-end;
}
.el-dropdown-link {
  cursor: pointer;
  color: black;
}
.el-dropdown-select {
  min-width: 47px;
  position: absolute;
  top: 682px;
  transform-origin: center bottom;
  z-index: 2007;
}
.el-select-dropdown__item {
  font-size: 12px;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #606266;
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  cursor: pointer;
}
.el-dropdown {
  font-size: xx-large;
}
.el-dropdown-menu__item {
  line-height: 60px;
  font-size: 16px;
  color: white;
  border-radius: 20px;
  width: max-content;
}
.el-dropdown-menu el-popper {
  transform-origin: center top;
  z-index: 2003;
  position: absolute;
  top: 75px;
  left: 195px !important;
  height: 37vh !important;
}
.el-dropdown-menu__item i {
  margin-right: 18px;
}
.el-dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0px 0;
  margin: 5px 0;
  background-color: darkcyan;
  border: 0px solid darkcyan;
  border-radius: 20px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.el-dropdown-selfdefine:focus:not(.focusing) {
  outline-width: 0;
  background: silver !important;
}
.el-submenu .el-menu-item {
  display: flex;
  height: 50px;
  line-height: 50px;
  padding: 0px !important;
  min-width: 200px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.el-submenu__title {
  padding-left: 0px !important;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.el-menu {
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  background-color: none;
  flex: 1;
  overflow-y: auto;
  background-color: revert;
  border-right: 0px #e6e6e6;
}
.el-select {
  font-size: 12px;
  color: black;
}
.input-with-select .el-input-group__prepend {
  background-color: white;
  border: 3px solid darkcyan;
  border-right: none;
}
.el-input__icon {
  height: 100%;
  width: 25px;
  text-align: center;
  transition: all 0.3s;
  line-height: 40px;
  font-weight: 900;
  font-size: large;
}
.el-input {
  position: relative;
  font-size: 12px;
  width: 100%;
}
.el-input__inner {
  background-color: white;
  box-sizing: border-box;
  color: black;
  border: 3px solid darkcyan;
  display: inline-block;
  height: 38px;
  outline: 0;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.el-page-header__left {
  display: flex;
  cursor: pointer;
  margin-right: 40px;
  position: relative;
  margin-left: 30px !important;
}
.el-page-header__left::after {
  position: absolute;
  width: 2px;
  height: 27px;
  right: -17px;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
}
.el-page-header__title {
  font-size: large;
  font-weight: 500;
}
.el-page-header {
  background: #ffffffc9;
  line-height: 45px;
  border-bottom: 5px solid black;
}
.el-collapse-item__header {
  display: flex;
  align-items: center;
  height: 33px;
  line-height: 53px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  border-bottom: none;
  font-size: 16px;
  font-weight: 500;
  transition: border-bottom-color 0.3s;
  outline: 0;
  width: max-content;
}
.header {
  background: #ffffffc9 !important;
  height: 105px !important;
  border-bottom: 5px solid black;
  padding: 0 15px !important;
  line-height: 0px;
}
.header-title {
  padding: 0 0px;
  text-align: center;
  font-size: xx-large;
  color: darkred;
  margin-top: 20px;
}
.el-collapse-item__content {
  padding-bottom: 0px;
  font-size: 20px;
  color: #303133;
  line-height: 1.5;
  background-color: transparent;
}
.el-collapse {
  border-top: none;
  border-bottom: none;
}
.el-collapse-item__wrap {
  will-change: height;
  background-color: transparent;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: none;
}
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
.response-message {
  margin-top: 10px;
}
h1 {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}
h {
  font-weight: bolder;
  font-size: 16px;
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 20px;
}
p {
  font-size: 14px;
  color: white;
}
strong {
  font-size: 16px;
  font-weight: bolder;
  color: black;
}
.logo-text {
  height: 4px;
  display: flex;
  font-size: 1.5em;
  font-weight: bolder;
  color: red;
  width: -moz-max-content;
  width: max-content;
  margin-right: 10px;
  align-items: center;
}
.loading-indicator {
  text-align: center;
  margin-top: 10px;
  background-color: none;
}
.loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-text {
  font-size: 20px;
  font-weight: bold;
}
.health-loading {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.main-content {
  background-color: #ffffffc9 !important;
  min-height: auto;
  flex: 1;
}
.footer1 {
  height: auto !important;
  line-height: 32px;
  background: #ffffffc9;
  padding: 0px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 5px solid black;
}
.account-page {
  height: 100%;
}
.account-form {
  padding: 20px;
}
.add-item-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.el-form-item {
  margin-bottom: 15px;
}
.el-tabs__item {
  padding: 0 20px;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  display: inline-block;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.el-tabs__item.is-active {
  color: darkslategrey;
}
.el-tabs {
  background-color: transparent !important;
}
.el-tabs__label {
  font-size: x-large !important;
}
.el-tabs__nav-next,
.el-tabs__nav-prev {
  position: absolute;
  cursor: pointer;
  line-height: 44px;
  font-size: 12px;
  color: white;
}
.el-tabs__label {
  font-size: large !important;
}
.el-tabs__sublabel {
  font-size: large !important;
}
.el-icon-menu {
  margin-left: 10px;
}
.el-icon-box {
  font-size: 22px;
  color: black;
}
.el-icon-success {
  font-size: 22px;
  color: black;
}
.el-icon-food {
  font-size: 22px;
  color: black;
}
.el-icon-bicycle {
  font-size: 22px;
  color: black;
}
.el-icon-error {
  font-size: 22px;
  color: black;
}
.el-icon-s-claim {
  font-size: 22px;
  color: black;
}
.social-icons i {
  font-size: 24px;
  margin-right: 10px;
}

.item-image {
  width: 100px;
  padding: 10px;
}
.item-image img {
  max-width: 100%;
  height: auto;
}
.item-details {
  padding: 10px;
}
.item-name,
.item-price,
.item-status,
.item-dates,
.item-date,
.item-expiry {
  margin-bottom: 10px;
}
.el-form-item__label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: black;
  line-height: 40px;
  padding: 0 12px 0 0;
  box-sizing: border-box;
}
.offer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.offer-item-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.offer-item-content {
  text-align: center;
}
.offer-item-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.offer-item-description {
  font-size: 12px;
  margin-bottom: 10px;
}
.offer-item-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offer-item-price {
  font-size: 12px;
  font-weight: bold;
}
.offer-item-offer {
  font-size: 12px;
  color: #2ecc71;
}
.offer-item {
  display: flex;
  flex-direction: column;
  background: darkcyan;
  border-radius: 8px;
  border: inset;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}
.suggestion-item {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.suggestion-item p {
  margin: 0;
  color: #333;
}
.el-autocomplete-suggestion li {
  padding: 0 20px;
  margin: 0;
  line-height: 34px;
  cursor: pointer;
  color: #606266;
  font-size: 14px !important;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.el-col-12 {
  width: 100%;
}
.user-notification {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 10px;
}
.barcode {
  display: none;
}
.el-upload-list__item-name {
  display: none !important;
}
.el-popper[x-placement^="bottom"] .popper__arrow::after {
  top: 1px;
  margin-left: -21px;
  border-top-width: 0;
  border-bottom-color: darkcyan;
}
.el-aside {
  overflow: auto;
  box-sizing: border-box;
  flex-shrink: 0;
  position: fixed;
  z-index: 1000;
  opacity: 0.8;
  transition: opacity 0.3s;
}
.el-aside:hover {
  opacity: 1;
}
.navbar {
  display: flex;
}
.responsive-table {
  width: 100%;
  overflow-x: auto;
}
.table-image {
  max-width: 100px;
}
.navbutton {
  padding: 41px 3px !important;
  margin-left: -15px !important;
  margin-top: -2px !important;
}
.image-preview {
  margin-top: 20px;
  width: 50%;
  height: 500px;
}
.ocr-result {
  margin-top: 20px;
  font-size: 12px;
  white-space: pre-wrap;
  width: 50%;
}
.status {
  margin-top: 100px;
  font-size: 14px;
  color: #4caf50;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 350px) {
  .el-carousel__container {
    height: 450px !important;
  }
  .el-collapse-item__header {
    display: flex;
    align-items: center;
    height: 33px;
    line-height: 53px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border-bottom: none;
    font-size: 16px;
    font-weight: 500;
    transition: border-bottom-color 0.3s;
    outline: 0;
    width: max-content;
  }
}
@media screen and (min-width: 400px) {
  .footer2 {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .el-page-header__content {
    font-size: 12px !important;
    color: #303133;
  }
  .el-button {
    padding: 5px 8px !important;
  }
  .menu-bar {
    flex-direction: column !important;
  }
  .logo-text {
    font-size: 1.5em;
    font-weight: bolder;
    color: red;
    width: max-content;
    margin-left: 10px;
    margin-right: 10px;
  }
  h1 {
    color: black;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header-title {
    padding: 0 0px !important;
    text-align: center;
    font-size: x-large !important;
    color: darkred;
  }
  .joke-card {
    font-size: large;
    color: white;
    font-weight: bolder;
  }
  .el-dropdown-select {
    min-width: 47px;
    position: absolute;
    top: 682px;
    transform-origin: center bottom;
    z-index: 2007;
  }
  .el-dropdown-menu__item {
    padding: 5px 15px;
    font-size: 15px;
  }
  .el-select-dropdown__item {
    font-size: 10px;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .footer1 {
    display: none;
  }
  .account-page {
    height: 100%;
  }
  .account-form {
    padding: 20px;
  }
  .el-main {
    text-align: center;
    padding: 10px !important;
  }
  .input-with-select {
    width: 100%;
  }
  .el-input {
    position: relative;
    font-size: 12px;
  }
  p {
    font-size: 15px;
    color: white;
  }
  h {
    font-size: 15px !important;
    color: black;
  }
  strong {
    font-size: 15px;
    color: black;
  }
  .el-icon-goods {
    font-size: xx-large !important;
    background: none !important;
    border: none;
    color: black !important;
    margin-top: 15px !important;
  }
  .el-icon-camera {
    background: none !important;
    border: none;
    color: white !important;
    margin-top: 15px !important;
  }
  .el-icon-box {
    font-size: xx-large !important;
    background: none !important;
    border: none;
    color: black !important;
    margin-top: 15px !important;
  }
  .el-icon-food {
    font-size: 20px;
    color: black;
  }
  .el-icon-bicycle {
    font-size: 20px;
    color: black;
  }
  .el-icon-success {
    font-size: 20px;
    color: black;
  }
  .el-icon-error {
    font-size: 20px;
    color: black;
  }
  .el-icon-s-claim {
    font-size: 20px;
    color: black;
  }
  .el-collapse-item__header {
    display: flex;
    align-items: center;
    height: 33px;
    line-height: 53px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border-bottom: none;
    font-size: 16px;
    font-weight: 500;
    transition: border-bottom-color 0.3s;
    outline: 0;
    width: max-content;
  }
  .footer2 {
    height: 79px;
    background: none;
    padding: 5px 0;
    border-top: 3px solid black;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: small;
    background: #ffffffa3 !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 650px) {
  .router_link {
    width: 100% !important;
  }
  .logo-text {
    font-size: 1.5em;
    font-weight: bolder;
    color: red;
    width: -moz-max-content;
    margin-left: -7px;
    margin-right: 10px;
  }
  .logo-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: none !important;
    justify-content: flex-end;
    background: none !important;
    margin-left: -20px;
  }
  .aside {
    display: none;
  }
  .navbutton {
    display: none;
  }
  .searchDev {
    display: none !important;
  }
  .nav-buttons {
    display: flex !important;
    width: 100% !important;
    margin-bottom: 25px !important;
    flex-direction: column !important;
    margin-top: 10px !important;
  }
  .el-button--warning.is-plain {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px !important;
  }
  .el-button--info.is-plain {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px !important;
  }
  .el-button--danger.is-plain {
    width: 100% !important;
    margin-bottom: 10px;
    margin-left: 0px !important;
  }
  .el-col-8 {
    width: 100%;
  }
  .el-collapse-item__header {
    display: flex;
    align-items: center;
    height: 33px;
    line-height: 53px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border-bottom: none;
    font-size: 16px;
    font-weight: 500;
    transition: border-bottom-color 0.3s;
    outline: 0;
    width: max-content;
  }
  .searchInventory {
    justify-content: flex-start;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .el-carousel__container {
    height: 300px !important;
  }
  .offer-item-price {
    font-weight: bold !important;
    font-size: 10px !important;
  }
  .offer-item-offer {
    color: #2ecc71 !important;
    font-size: 7px !important;
  }
  .offer-item-title {
    font-size: 12px !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
  }
  .offer-item-description {
    font-size: 11px !important;
    margin-bottom: 10px !important;
  }
  .offer-item-image {
    width: 150px !important;
    height: 100px !important;
    object-fit: cover !important;
    border-radius: 50% !important;
    margin-bottom: 20px !important;
  }
  .el-autocomplete-suggestion li {
    padding: 0 20px;
    margin: 0;
    line-height: 34px;
    cursor: pointer;
    color: #606266;
    font-size: 11px !important;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .el-table {
    display: block;
    width: 100%;
  }
  .el-table-column {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  .el-table-column .el-table__header-wrapper,
  .el-table-column .el-table__body-wrapper {
    display: block;
    width: 100%;
  }
  .el-table-column .el-table__cell {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
  }
  .el-table-column img {
    max-width: 50px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 650px) {
  .searchInventory {
    display: none;
  }
  .el-dropdown-grid {
    display: none !important;
  }
}
